
<!-- Start wrapper-->
<div class="wrapper">
  <div class="col-md-12">
    <!-- Logo -->
    <div class="brand wow fadeIn" data-wow-delay="0.1s"> गुलिस्ताँ
      <div class="title">-  कनोर  -</div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
        <div class="navbar-brand"><a href="#">गुलिस्ताँ</a>
        </div>
      </div>
    </nav>
    <!-- End nav -->
    <div class="margin-collection wow fadeIn" data-wow-delay="0.1s">
      <div class="col-md-10 col-xs-offset-1">
        <h3 class="heading-inner">तुम हो, मैं हूँ और ये रात है</h3>
        <div class="hr"></div>
        <div class="heading-c">
          " मोहतरम   .  . . तुम हो, मैं हूँ और ये रात है<br>
          इससे ज़ियादा मेरे मुँह से ज़बान न निकले "<br>
        </div>
      </div>
      <!-- End text -->
      <!-- Start projects-->
      <div class="container">

        <ul class="portfolio-filter text-center">
          <li><a class="btn btn-default active" href="#" data-filter="*">सभी</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".spring">ग़ज़ल</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".summer">नज़्म</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".autumn">शेर</a></li>
        </ul><!--/#portfolio-filter-->

        <!--portfolio-item summer col-xs-12 col-sm-12 col-md-4 thumbs : Nazm नज़्म -->
        <!--portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs : Sher  शेर -->
        <!--portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs : Gazal ग़ज़ल-->
        <!-- -->


        <div class="row">
          <div class="portfolio-items grid">
            <div class="portfolio-item summer col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn" data-wow-delay="0.1s">
                <a href="assets/img/image1.jpg">
                  <img src="assets/img/image1.jpg" alt=""/>
                  <figcaption>
                    <h2>नज़्म</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image2.jpg">
                  <img src="assets/img/image2.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image3.jpg">
                  <img src="assets/img/image3.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image4.jpg">
                  <img src="assets/img/image4.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item summer col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image5.jpg">
                  <img src="assets/img/image5.jpg" alt=""/>
                  <figcaption>
                    <h2>नज़्म</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item summer col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image6.jpg">
                  <img src="assets/img/image6.jpg" alt=""/>
                  <figcaption>
                    <h2>नज़्म</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image7.jpg">
                  <img src="assets/img/image7.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image8.jpg">
                  <img src="assets/img/image8.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image9.jpg">
                  <img src="assets/img/image9.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image10.jpg">
                  <img src="assets/img/image10.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image11.jpg">
                  <img src="assets/img/image11.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image12.jpg">
                  <img src="assets/img/image12.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image13.jpg">
                  <img src="assets/img/image13.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image14.jpg">
                  <img src="assets/img/image14.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image15.jpg">
                  <img src="assets/img/image15.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image16.jpg">
                  <img src="assets/img/image16.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item spring col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image17.jpg">
                  <img src="assets/img/image17.jpg" alt=""/>
                  <figcaption>
                    <h2>ग़ज़ल</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

            <div class="portfolio-item autumn col-xs-12 col-sm-12 col-md-4 thumbs">
              <figure class="effect-moses wow fadeIn">
                <a href="assets/img/image18.jpg">
                  <img src="assets/img/image18.jpg" alt=""/>
                  <figcaption>
                    <h2>शेर</h2>
                    <p>Notebook Pages : Kanor</p>
                  </figcaption>
                </a>
              </figure>
            </div><!-- /portfolio-item -->

          </div><!-- /portfolio-items -->
        </div><!-- /row -->

      </div><!-- /container -->

    </div>
    <!-- End margin -->


    <div class="hr"></div>
    <div class="text-center">
      <a href="https://pvyas033.github.io/notebookcollection/" class="home-btn btn">'श्रृंगार - पटल'</a>
    </div>
<!--     Start footer-->
    <div class="footer col-md-6 col-xs-offset-3">
      <h5>
        &copy; Copyright <strong> <a href="https://pvyas033.github.io/notebookpages.pvt/">Notebook Pages</a> </strong>.
        <br><a href="https://www.facebook.com/pankaj.vyas.90410834/"><i class="fa fa-facebook fa-1x icon1"></i></a>
        <a href="https://twitter.com/pankaj_pvt"><i class="fa fa-twitter fa-1x icon1"></i></a>
        <a href="https://www.instagram.com/notebook.pvt/"><i class="fa fa-instagram fa-1x icon1"></i></a>
      </h5>

    </div>
<!--     End footer-->


  </div>
  <!-- End col-md-12 -->

</div>
<!-- End wrapper -->



